body {
    margin: 0;
    padding: 0;
}

/** 底圖 **/
.image-container {
    position: relative;
    width: 100vw;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: 1;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 2;
}

/** explore 底圖 **/
.explore-image-container {
    position: relative;
    width: 100vw;
}

.explore-image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1;
}

.explore-image-container img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 2;
}

.rounded-rectangle {
    position: absolute;
    top: 215px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index: 3;
}
/** 文字 **/
.text-hello {
    z-index: 3;
    position: absolute;
    top: 65px;
    left: 8%;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}

.text-piece {
    position: absolute;
    justify-content: left;
    width: 90%;
    z-index: 3;
    top: 590px;
    left: 8%;
    z-index: 4;
}

.text-fittingroom {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 3;
    position: absolute;
    top: 90px;
    z-index: 4;
}

.text-explore-title {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 3;
    position: absolute; 
    z-index: 4;
}

.text-explore {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 3;
    position: absolute;
    top:240px;
    z-index: 4;
}

.text-style {
    position: absolute;
    justify-content: left;
    width: 90%;
    left: 8%;
    z-index: 4;
}

/** 按鈕 **/

.fitting-button {
    z-index: 4;
    position: absolute;
    top: 140px;
    left: 6%;
    border: none;
    background: none;
}
.home-button {
    z-index: 4;
    position: absolute;
    top: 235px;
    left: 6%;
    border: none;
    background: none;
}

.selfclothes-button {
    z-index: 4;
    position: absolute;
    top: 145px;
    right: 80px;
}

.search-button {
    z-index: 4;
    position: absolute;
    margin-left:250px;
    margin-top: 3px;
}

.upload-button {
    z-index: 4;
    position: absolute;
    top: 145px;
    right: 25px;
}

.refresh-button {
    z-index: 4;
    position: absolute;
    top: 235px;
    right: 6%;
}

.add-button {
    z-index: 4;
    border: none;
    background: none;
}

.explore-button-container {
    position: absolute; 
    top: 300px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 330px;
    height: auto;
    z-index: 4;
}

.explore-button-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    border-radius: 20px;
}

.explore-button-container-bkg {
    display: block;
    width: 100%;
    height: auto;
    z-index: 4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

.overlay-image {
    position: absolute;
    width: 80px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.next-button {
    z-index: 3;
    position: absolute;
    top: 235px;
    right: 6%;
    border: none;
    background: none;
}

/* 文字input */
.input-text {
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 8px; 
    width: 240px;
    height: 40px;
    z-index: 4;
    font-size: 14pt;
    margin-top: 10px;
}

.explore-input {
    position: absolute;
    border-radius: 50px;
    border: 1px solid #000000;
    padding: 8px; 
    width: 300px;
    height: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 4;
    font-size: 14pt;
    justify-content: center;
}

/* toggle button */
.toggle-container {
    position: absolute;
    left: 8%;
    display: flex;
    flex-wrap: wrap; /* 換行 */
    gap: 8px;
    width: 300px;
    height: 125px;
    padding: 10px;
    border: 1px solid #000000; 
    border-radius: 10px;
    z-index: 4;
    justify-content: center;
    overflow-y: auto;
    flex-direction: row;
    align-content: start;
}

/* toggle switch style */
.toggle-container input[type="checkbox"] {
    display: none;
}

.toggle-container label {
    cursor: pointer;
    background-color: #ccc;
    padding: 8px;
    border-radius: 50px;
    transition: background-color 0.3s;
    height: 20px;
    margin: 0;
}

.toggle-container input[type="checkbox"]:checked + label {
    background-color: #0F4C3A; 
    color: white; 
}

.like-toggle-btn {
    display: none; /* 隱藏原生的checkbox */
  }

.like-toggle-label {
    position: absolute;
    z-index: 4;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 235px;
    right: 18%;
    background-image: url('./like_bt.png');
    background-size: cover;
    cursor: pointer;
  }

  .like-toggle-btn:checked + .like-toggle-label {
    background-image: url('./liked_bt.png');
  }


/* 下拉選單 */
select {
    position: absolute;
    border-radius: 10px;
    padding: 8px;
    top: 345px;
    z-index: 4;
    left: 8%;
    border: 1px solid #000000;
    font-size: 14pt;
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
}

/* 選衣服圖片橫式滑動 */
.image-scroll-container-wrapper {
    width: 320px;
    left: 8%;
    position: absolute;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 4;
}

.image-scroll-container {
    display: inline-block; /* 将图像容器作为内联块元素显示 */
    position: relative; /* 设置相对定位，用于绝对定位遮罩层 */
    margin-right: 10px; /* 图片容器之间的间距 */
    z-index: 4;
}
/* 图片样式 */
.image-scroll-container img {
    width: auto; /* 图片宽度最大为容器宽度 */
    height: 180px; /* 自动计算图片高度，保持比例 */
    z-index: 4;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* 遮罩层样式 */
.chosen-overlay-black {
    position: absolute; /* 设置绝对定位 */
    top: 0; /* 与图片容器顶部对齐 */
    left: 0; /* 与图片容器左侧对齐 */
    width: 100%; /* 宽度与图片容器相同 */
    height: 165px; /* 高度与图片容器相同 */
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    display: none; /* 初始隐藏 */
}

.description-text {
    position: absolute;
    top: 610px;
    left: 8%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; /* 字體大小 */
    font-weight: normal; /* 字體粗細 */
    color: #000; /* 文字顏色 */
    line-height: 1.5; /* 行高 */
    text-align: left; /* 文字對齊方式 */
    text-decoration: none; /* 文字下劃線 */
    z-index: 4;
    width: 320px;
    overflow-y: auto; /* Enable vertical scrollbar */
    height: 200px;
  }


/* explore */
.explore-set-container {
    position: absolute;
    top: 320px;
    left: 8%;
    width: 350px;
    /*max-height: 300px; /* Set maximum height */
    overflow-y: auto; /* Enable vertical scrollbar */
    z-index: 4;
    left: 50%;
    transform: translate(-50%, 0);
  }

.explore-set-image-gallery {
    display: flex; /* Make images display horizontally */
    overflow-x: auto; /* Enable horizontal scrollbar */
    scroll-snap-type: x mandatory; /* Enable snapping */
}
  
.explore-set-image-gallery img {
    flex: 0 0 auto; /* Allow images to shrink or grow */
    width: 200px; /* Set image width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some space between images */
}
  
.explore-set-card {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 4;
    height: auto; /* Avoid description text overflow */
    border: 1px solid #ccc;
}


.explore-set-tag-row {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  z-index: 4;
  overflow-x: auto; /* Enable horizontal scrollbar */
}

.explore-set-tag {
  background-color: rgba(145, 180, 147, 0.5); 
  border: 1px solid #646A58;
  border-radius: 50px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14pt;
  padding: 8px;
}

.explore-set-description-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; /* 字體大小 */
    font-weight: normal; /* 字體粗細 */
    color: #000; /* 文字顏色 */
    line-height: 1.5; /* 行高 */
    text-align: left; /* 文字對齊方式 */
    text-decoration: none; /* 文字下劃線 */
    z-index: 4;
  }

.explore-description-image-gallery {
    position: absolute;
    z-index: 4;
    width: 320px;
    left: 8%;
    top: 485px;
    /* margin-top: 80px; */
    display: flex; /* Make images display horizontally */
    overflow-x: auto; /* Enable horizontal scrollbar */
    scroll-snap-type: x mandatory; /* Enable snapping */
}
  
.explore-description-image-gallery img {
    flex: 0 0 auto; /* Allow images to shrink or grow */
    width: auto; /* Set image width */
    margin-right: 5px; /* Add some space between images */
    height: 250px;
}

.hovered {
    position: relative;
    z-index: 5;
}

.hovered::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    background-color: rgba(0, 0, 0, 0.5); /* 這裡的 0.5 表示透明度為 50% 的黑色 */
    pointer-events: none; /* 這樣可以讓鼠標事件穿過覆蓋層，以便點擊到圖片 */
    z-index: 5;
}

.explore-piece-image-gallery {
    position: absolute;
    z-index: 4;
    width: 320px;
    top: 830px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    left: 8%;
    /* left: 50%;
    transform: translate(-50%, 0); */
}
  
.explore-piece-image-gallery img {
    flex: 0 0 auto; /*Allow images to shrink or grow*/
    width: auto; /* Set image width */
    margin-right: 5px; /* Add some space between images */
    height: 250px;
}


.image-wrapper {
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
  }


.pin-toggle-btn {
    display: none; /* 隱藏原生的checkbox */
  }

.pin-toggle-label {
    z-index: 4;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 3px;
    margin-right: 3px;
    background-image: url('./pin_off_toggle.png');
    background-size: cover;
    cursor: pointer;
  }

  .pin-toggle-btn:checked + .pin-toggle-label {
    background-image: url('./pin_on_toggle.png');
  }

.piece-info-container {
    position: absolute;
    top:270px;
    width: fit-content; /* 讓容器寬度根據內容自適應 */
    z-index: 4;
    left: 50%;
    transform: translate(-50%, 0);
}

.piece-titles {
    /* display: flex; */
    flex-direction: column;
    height: 15px;
}
.piece-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    z-index: 4;
    font-weight: bold;
    width: 300px;
}

.piece-content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    z-index: 4;
    width: 300px;
}

.piece-pic {
    width: 300px; 
    max-height: auto;
    z-index: 4;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    left: 50%;
}

.user-container {
    display: flex;
    align-items: center; /* 將內容垂直置中 */
    width: 300px; /* 容器寬度 */
    height: 90px; /* 容器高度 */
    background-color: white; /* 白色背景 */
    border: 1px solid #ccc; /* 邊框 */
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.user-pic {
    max-width: 50%; /* 圖片最大寬度為容器的一半 */
    height: auto; /* 圖片高度自動調整 */
    width: 70px;
    height: auto;
    margin-left: 10px;
    margin-right: 20px; /* 圖片與文字之間的間距 */
}

.username {
    margin: 0; /* 清除預設邊距 */
    font-size: 18pt; /* 文字大小 */
    font-family: 'Times New Roman', Times, serif;
}

.buy-bt {
    display: flex;
    align-items: center; /* 將內容垂直置中 */
    width: 300px; /* 容器寬度 */
    height: 50px; /* 容器高度 */
    background-color: black; /* 白色背景 */
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-size: 18pt; /* 文字大小 */
    font-family: 'Times New Roman', Times, serif;
    color: white;
    justify-content: center;
}

.style-container {
    position: absolute;
    display: flex;
    left: 8%;
}

.login-container {
    position:absolute;
    display: flex;
    flex-direction: column; /* 將元素垂直排列 */
    width: 300px;
    top:350px;
    z-index: 4;
    left: 50%;
    transform: translate(-50%, 0);
}

.account-input-text {
    z-index: 4;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 8px; 
    width: 280px;
    height: 40px;
    font-size: 14pt;
    margin-top: 10px;
 
}

.login-bt {
    display: flex;
    align-items: center; /* 將內容垂直置中 */
    width: 300px; /* 容器寬度 */
    height: 50px; /* 容器高度 */
    background-color: black; /* 白色背景 */
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-size: 18pt; /* 文字大小 */
    font-family: 'Times New Roman', Times, serif;
    color: white;
    justify-content: center;
}


.closet-user-container {
    position: absolute;
    display: flex;
    background-color: none; /* 背景顏色 */
    z-index: 4;
    top: 60px;
    left: 8%;
  }
  
  .closet-user-circle {
    width: 100px; /* 圓形直徑 */
    height: 100px; /* 圓形直徑 */
    background-color: #FFFFFF; /* 圓形底色 */
    border-radius: 50%; /* 讓方形變成圓形 */
    position: relative;
    overflow: hidden;
    z-index: 4;
  }
  
  .closet-user-pattern {
    width: 100px; /* 圖案大小 */
    height: 100px; /* 圖案大小 */
    background-image: url('../resource/user_image.png'); /* 圖案路徑 */
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
  }

.closet-user-text {
    position: absolute;
    left: 8%;
    z-index: 4;
    top: 105px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
    font-weight: bold;
    color: #FFFFFF;
}

.favorite-user-container {
    position: absolute;
    display: flex;
    background-color: none; /* 背景顏色 */
    z-index: 4;
    top: 20px;
    justify-content: center;
    width: 100%;
    left: 50%; 
    transform: translate(-50%, 0 );
  }
  
  .favorite-user-circle {
    width: 90px; /* 圓形直徑 */
    height: 90px; /* 圓形直徑 */
    background-color: #FFFFFF; /* 圓形底色 */
    border-radius: 50%; /* 讓方形變成圓形 */
    position: relative;
    overflow: hidden;
    z-index: 4;
  }
  
  .favorite-user-pattern {
    width: 90px; /* 圖案大小 */
    height: 90px; /* 圖案大小 */
    background-image: url('../resource/user_image.png'); /* 圖案路徑 */
    background-size: cover;
    position: absolute;
    z-index: 4;
  }

.favorite-user-text {
    position: absolute;
    z-index: 4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 90px;
}

.clothes-chosen-container {
    position: absolute;
    z-index: 4;
    width: 280px;
    top: 680px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column; /* 將元素垂直排列 */
}

.clicked {
    position: relative;
    z-index: 5;
}

.clicked::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    background-color: rgba(0, 0, 0, 0.5); /* 這裡的 0.5 表示透明度為 50% 的黑色 */
    pointer-events: none; /* 這樣可以讓鼠標事件穿過覆蓋層，以便點擊到圖片 */
    z-index: 5;
}

.search-bar {
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 4;
    justify-content: center;
    left: 50%;
    top: 120px;
    transform: translate(-50%, 0);
}